html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual Styling Below */
body { 
    width: 100vw;
    margin: 0 auto;
    /* Prevents selection of elements on page */
    -webkit-user-select: none;
}

a { color: rgba(0, 0, 0, 0.466); text-decoration: none; }

.links {
    position: sticky;
    top: 0px;
    height: 30px;
    display: flex;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 90px;
    background-color: rgba(255, 255, 255, 0.975);
    display: flex;
    align-items: center;
    z-index: 500;
    box-sizing: content-box;
}

.links > div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    font-weight: 700;
}

.links-button {
    margin-left: 30px;
    transition: 3000ms;
}

.github:hover {
    color: rgb(0, 0, 0);
    transition: 200ms;
}

.fa {
    transform:translate(0px, -1px);
}

.linkedin:hover {
    color: #0e76a8;
    transition: 200ms;
}

.navbar {
    position: sticky;
    top: 43px;
    height: 100%;
    min-width: 120px;
    margin: 10px;
    margin-top: 79px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 45px;
    font-family: 'PT Sans', sans-serif;
}

/* Removes the Navbar on mobile devices or smaller screens*/
@media (max-width: 420px) 
{
    .navbar
    {
        display: none;
    }
}

.navbar > a {
    color: rgba(0, 0, 0, 0.425);
    box-sizing: content-box;
    width: fit-content;
    margin: 10px 0px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: 500ms;
}

.navbar > a:hover {
    color: black;
    left: 0;
    border-bottom: 1px solid black;
    transition: 500ms;
}

.right {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
}

.header {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    transform: translate(0px, -15px);
}

.header-title {
    font-size: 40px;
    font-weight: 700;
}

.header-subtext {
    color: rgba(0, 0, 0, 0.508);
    font-size: 20px;
    padding-left: 4px;
    padding-bottom: 20px;
}

.content { 
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.meat {
    position: relative;
    height: 100%;
}

.meat > .meat-paragraph:first-child {
    margin-top: 24px;
    margin-bottom: 30px;
}

.meat > .meat-paragraph:not(:first-child) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.meat > .meat-paragraph { 
    height: fit-content;
    line-height: 22px;
}

.meat-quote-box {
    height: fit-content;
    display: flex;
}

.meat-quote-bar {
    margin: 0 10px;
    width: 20px;
    background-color:rgba(0, 0, 0, 0.295);
    /* position: absolute; */
}

.meat-quote {
    margin: 10px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 25px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

#edge-of-chaos {
    font-style: italic;
    color: rgba(0, 0, 238, 0.600);
    transition: 200ms;
}

#edge-of-chaos:hover {
    transition: 600ms;
    color: rgb(0, 0, 238);
}

.meat-quote-author { 
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 200;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.meat-section-title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}

.meat-paragraph {
    background-color: rgba(255, 255, 255, 0.852);
}

.glider-gun-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

#glider-gun {
    position: absolute;
    transform: translate(149px, 33px);
    z-index: 1;
    pointer-events: none;
}

.glider-gun-spacing {
    margin-top: 10px;
    height: 175px;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.02);
    z-index: 2;
}

.broken-glider-gun-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

#broken-glider-gun {
    position: absolute;
    transform: translate(-201px, -368px);
    z-index: 1;
    pointer-events: none;
}

.broken-glider-gun-spacing {
    margin-top: 10px;
    height: 175px;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.02);
    /* transform: translate(-28px, 3px); */
    z-index: 2;
}

#one-dimensional-ca { 
    position: absolute; 
    transform: translate(5px, 16px);
    z-index: -1;
}

.one-dimensional-ca-spacing {
    margin-top: 20px;
    height: 370px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    /* transform: translate(-28px, 3px);  */
    border-radius: 10px;
    z-index: 2;
} 

.one-dimensional-ca-title {
    margin-top: 10px;
    /* margin-bottom: px; */
    text-align: left;
    font-size: 13px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

#one-dimensional-ca-random { 
    position: absolute; 
    transform: translate(5px, 13px);
    z-index: -1;
}

.one-dimensional-ca-random-spacing {
    margin-top: 20px;
    height: 359px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    /* transform: translate(-28px, 3px);  */
    border-radius: 10px;
    z-index: 2;
} 

.one-dimensional-ca-random-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

#traffic-model-25 { 
    position: absolute; 
    transform: translate(5px, 36px);
    z-index: -1;
}

.traffic-model-25-spacing {
    margin-top: 20px;
    height: 359px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    /* transform: translate(-28px, 3px);  */
    border-radius: 10px;
    z-index: 2;
} 

.traffic-model-25-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

#traffic-model-25 { 
    position: absolute; 
    transform: translate(5px, 36px);
    z-index: -1;
}

.traffic-model-25-spacing {
    margin-top: 20px;
    height: 359px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    /* transform: translate(-28px, 3px);  */
    border-radius: 10px;
    z-index: 2;
} 

.traffic-model-25-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

#traffic-model-25 { 
    position: absolute; 
    transform: translate(5px, 36px);
    z-index: -1;
}

#traffic-model-50 { 
    position: absolute; 
    transform: translate(5px, 33px);
    z-index: -1;
}

#traffic-model-75 { 
    position: absolute; 
    transform: translate(5px, 36px);
    z-index: -1;
}

.traffic-model-25-spacing {
    margin-top: 20px;
    height: 110px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    z-index: 2;
} 

.traffic-model-50-spacing {
    margin-top: 20px;
    height: 110px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    z-index: 2;
} 

.traffic-model-75-spacing {
    margin-top: 20px;
    height: 110px;
    width: 111%;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    z-index: 2;
} 

.traffic-model-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507);
}

.forest-fire-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507); 
}

#forest-fire {
    z-index: 9001;
}

.forest-fire-spacing {
    display: inline-block;
    height: 300px;
    /* border: 3px solid rgb(65, 65, 65); */
}

.forest-fire-spacing:hover {
    cursor: pointer;
}

.forest-fire-v2-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507); 
}

#forest-fire-v2 {
    z-index: 9001;
}

.forest-fire-v2-spacing {
    z-index: 9001;
    display: inline-block;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.02);
}

.forest-fire-v2-spacing:hover {
    cursor: pointer;
}

.game-of-life-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    z-index: 3;
    color: rgba(0, 0, 0, 0.507); 
}

#game-of-life {
    z-index: 9001;
}

.game-of-life-spacing {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.02);
}

.game-of-life-spacing:hover {
    cursor: pointer;
}

.dla-spacing {
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.02);
}

#animation-restart {
    transform: translate(3px, 3px);
    z-index: 9100;
    position: absolute;
    height: 10px;
    width: 30px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding: 2px;
    padding-bottom: 4px;
    border-radius: 2px;
    box-shadow: 1px 1px black;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    background-color: white;
}

#animation-restart:hover {
    cursor: pointer;
}